.header {
    display: flex;
    justify-content: space-between;
    margin: 8px 8px;
}

.headerMenu a {
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
    color: #565672;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.headerMenu a:hover {
    color: #0b6cc7;
}

.contact .more .pay .form .description {
    color: rgb(0, 82, 127);
    width: 300px;
    margin: 30px auto;
    font-family: 'Open Sans';
    font-size: 18px;
}

.contact .more .pay .form .text {
    text-align: left;
    width: 280px;
    margin: 20px auto;
    font-family: 'Open Sans';
    font-size: 18px;
}

.contact .more .pay .form .text li {
    margin: 8px;
    font-weight: 100;
}

.header button {
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    z-index: 5;
    height: 32px;
    width: 68px;
    left: 0px;
    top: 0px;
    padding: 0px;
    cursor: pointer;
    background: -webkit-linear-gradient(left, rgb(148, 115, 221) 0%, rgb(26, 201, 228) 100%);
    border: none !important;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 1;
    border-radius: 24px;
    transition: color 200ms ease-in 0s, background 200ms ease-in 0s;
    box-shadow: none;
    outline: none !important;

}

.header button:nth-child(1) {
    margin-right: 1rem;
}