.blogPostContainer {
    width: 70%;
    background: #ffffff;
}

.blogHeader {
    text-align: center;
}

.postTitle {
    letter-spacing: .5px;
    text-transform: capitalize;
    font-size: 28px;
    margin: 0;
    font-weight: 400;
}

.blogCategory {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

.postBy {
    font-size: 13px;
    font-style: italic;
    padding: 10px 0;
    font-weight: 300;
    display: block;
    color: #6c6c6c;
}

.postImageContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.postImageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.postContent {
    padding: 10px;
}

.postContent h3 {
    font-weight: 400;
    color: #333333;
    text-align: center;
}

p {
    margin: 0;
}

.postContent p {
    font-size: 14px;
    font-weight: 300;
    color: #6c6c6c;
    letter-spacing: 1px;
    text-align: justify;
    padding-bottom: 20px;
}