@font-face {
  font-family: 'JoseSans';
  src: url("./../webfonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  src: url("./../webfonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url("./../webfonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: 'Rubik';
  src: url("./../webfonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}


