@import 'variable.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';

:root {
     font-family: 'Gotham Rounded';
     font-size: 20px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem; 
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 600;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: var(--color-text-light)
}

.error {
    color: #ff0000;
    font-size: 1.2rem;
}